body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormEmployee {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.FormEmployee legend {
  font-weight: bold;
  font-size: 2rem;
}

.FormEmployee .form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}

.FormEmployee .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: left;
}